body{
    font-size: 10px;
    color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    background: #D1CAFF;
}

#app{
    margin-top:10px;
    margin-bottom: 20px;
    text-align:center;
    text-shadow: 0 2px 1px rgba(0,0,0,.3);
    font-size:50px;
}

#tag{
  margin-top:20px;
  display: inline-block;
  font-style: bold;
  padding-bottom:10px;
  color:#353535;
}

#seperator{
    margin-top:10px;
    color:#353535;
    background:#353535;
    width:60%;
    margin-left:20%;
    height:2px;
}

#listing {
  text-align:center;
  background: white;
  margin-left: 40px;
  margin-top: 100px;
  margin-right: 20px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 10px;
  color: #000000;
  font-size: 17px;
  border: 1px solid #A6A6A6;
  display: block;
  word-wrap: break-word;
  box-shadow:1px 1px 1px rgba(0,0,0,.3);
}