/*General Practices*/
/*-----Taken off evan shapiro gituhub, generic mobile settings------*/

/* turn off the annoying highlight on a tap (we provide our own visual feedback) */
* {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

/* prevent the user from highlighting any text */
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* allow highlighting text in inputs */
input {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/*stolen off evan shapiro github */
.transition {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    /* prevents flickering and other weirdness */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

body{
    font-size: 10px;
    color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    background: #D1CAFF;
}

.topic_link{
    margin-top: 10px;
    text-align:center;
}


/*figure out iframe issues
work on link back button etc. */
/* Profile */

#demographics{
    position:relative;
    top:0;
    left:0;
    right:0;
    height:70px;
}

.pro_pic{
    display: inline-block;
    background: red;
    margin-top:10px;
    margin-left:10px;
    width: 50px;
    height: 50px;
}

#username{
    position: relative;
    bottom: 35px;
    color: black;
    font-size:20px;
    padding: 10px;
    vertical-align:text-top;
    display:inline-block;
}

#prof_log{
    font-size:15px;
    padding: 3px;
    margin-left:auto;
    border:1px solid #1A1A1A;
    color: black;
    background: blue;
    display:inline-block;
    position:absolute;
    right:1%;
    bottom: 5px;
}

#user_subs{
}


.user_tab{
    font-size: 20px;
    color: white;
    display:inline-block;
    padding-top:10px;
    padding-bottom:8px;
    text-align:center;
    width: 50%;
    border:1px solid #1A1A1A;
    
}

.user_tab:hover{
    background: black;
}

#user_menu{
    position: relative;
    color:white;
    font-size:20px;
    height: 40px;
    width: 100%;
    background:#3B2BAA;
}


#browse_label{
    color: black;
    text-align:center;
    font-size: 15px;
}

#search_bar{
    background: #3B2BAA;
    border:1px solid #1A1A1A;
    padding-bottom: 5px;
}

#add_remove {
  text-align: center;
  padding: 10px;
  background: blue;
  color: white;
}

/*Login*/

.login{
    margin-top:20px;
    margin-bottom:20px;
}

#tag_line{
    margin-top:30px;
    color:#1A0E6E;
    font-style:oblique;
    
}
#login_container{
    position: fixed;
    position-top:0;
    height: 100%;
    width:100%;
    color:white;
    text-align:center;
    background:#3B2BAA;
    font-size: 20px;
}

#app_title{
    margin-top:30px;
    margin-bottom: 20px;
    text-align:inherit;
    text-shadow: 0 2px 1px rgba(0,0,0,.3);
    font-size:50px;
}

#non_user{
    margin-top:30px;
    margin-bottom:50px;
    width:100%;
    text-align:inherit;
}

#to_create{ 
    padding:5px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto; 
    background:red;
    width:80px;
    border:2px solid black;
    border-radius: 5px;    
}

/* Create Profile */

#likes{
    display:inline;
}

#create_title{
    margin-top:30px;
    margin-bottom:20px;
    font-size:40px;
}

#create_container{
    position: fixed;
    position-top:0;
    width:100%;
    color:white;
    text-align:center;
    background:#3B2BAA;
    font-size: 20px;
}

#facebook_imports{
    margin-top:10px;
    margin-bottom: 20px;
}

#create{
    padding:5px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
    background:red;
    width:80px;
    border:2px solid black;
    border-radius: 5px;    
}

/* Footer/Menus */ 

.selected{
    background:#1A0E6E;
}

.borbox{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float:left;
    box-shadow:2px 0 1px #888888;
}

.icon_container{
    display:inline-block;
    width: 20%;
    height:50px;
    padding-top:7px;
    border:1px solid #1A1A1A;
}

.icon {
    width:35px;
    height:35px;
}

.hidden{
    display:none;
}

.header_container{
    text-align:center;
    background:#3B2BAA;
    height: 50px;
    width:60px;
    text-align: center;
    position: fixed;
    left:0;
    top:0;
    border-bottom-right-radius: 25px; 
    border-top:0;
    -moz-border-bottom-right-radius:25px;
    padding-top:5px;
    padding:left:5px;
    padding-right:10px;
    color: #000000;
    border: 1px solid #1A1A1A;
    display: block;
    word-wrap: break-word; 
    
}


.header_container:hover{
    background: red;
}

#footer_container{
    position:fixed;
    bottom:0;
    right:0;
    left:0;
}

.menu_tab{
    font-size: 20px;
    color: white;
    display:inline-block;
    padding-top:9px;
    padding-bottom: 19px;
    text-align:center;
    border:1px solid #1A1A1A;
}

.one_option{
    width:100%;
}

.two_options{
    width:50%;
}
.menu_tab:hover{
    background:black;
}


#menus{
    background:#1A0E6E;
    height:0;
    position: fixed;
    bottom:50px;
    left:0;
    right:0;
    text-align:center;
}
#user_fixed_stuff{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:white;
}

#article{
    height:1000px;
    width:100%;
    scrolling: no;
}

.container{
    float:left;
}
#footer{
    clear:both;
    text-align:center;
    background:#3B2BAA;
    height: 50px;
    position: fixed;
    bottom:0;
    right:0;
    left:0;
}


#feed_container{
    overflow-x:hidden;
    background:#D1CAFF;
}

/* Ben's code */


.listing {
  background: white;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom:15px;
  margin-right: 20px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 10px;
  color: #000000;
  font-size: 17px;
  border: 1px solid #A6A6A6;
  display: block;
  word-wrap: break-word;
  box-shadow:1px 1px 1px rgba(0,0,0,.3);
}

.topic{
  background: white;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom:15px;
  margin-right: 40px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 5px;
  color: #000000;
  font-size: 17px;
  border: 1px solid #A6A6A6;
  display: block;
  word-wrap: break-word;    
  box-shadow:1px 0 1px rgba(0,0,0,.3);  
}

.data{
    margin-top:10px;
    display:inline-block;
    margin-left:2px;
}

#url_input{
    margin-left:30px;
}

#custom_feed{
  text-align:center;
  background: white;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom:15px;
  margin-right: 40px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 5px;
  color: #000000;
  font-size: 17px;
  border: 1px solid #A6A6A6;
  display: block;
  word-wrap: break-word;    
  box-shadow:1px 0 1px rgba(0,0,0,.3);    
}

#generator_button{
  margin:10px;
  padding:5px;
  margin-left: auto;
  margin-right: auto;
  background: #F5A522;
  text-align: center;
  width: 200px;
  color:white;
  border: 1px solid #A6A6A6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow:2px 1px 1px #222222;
    
}

.delete_topic_button{
  margin:10px;
  padding:5px;
  margin-left: auto;
  margin-right: auto;
  background: #d41243;
  text-align: center;
  width: 200px;
  color:white;
  border: 1px solid #A6A6A6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow:2px 1px 1px #222222;
}

.headline {
  font-size: 25px;
  text-align: center;
  color:#2C2C2C;
}

.friend_name{
    position: relative;
    bottom: 20px;
    font-size:20px;
    vertical-align:text-top;
    display:inline-block;
    text-align: left;
    margin-left: 10px;
}
.seperator{
    margin-top:10px;
    color:#353535;
    background:#353535;
    width:60%;
    margin-left:20%;
    height:2px;
}

.snippet{
  display: inline-block;
  font-style: bold;
  padding-bottom:10px;
  color:#353535;  
  /*text-align: right;*/
  /*font-size: 17px;*/
  /*margin-right: 20px;*/
  /*width: 100px;*/
}

.source{
  display: block;
  font-size: 10px;
  word-wrap: break-word;
  font-weight:bold;
  color:#353535;
  text-align:center;
    
}

.date{
  display: block;
  font-size: 10px;
  word-wrap: break-word;
  font-style:italic;
  color:#A6A6A6;
  padding-bottom:5px;
}


.pushbutton {
  display: inline-block;
  text-decoration: none;
  color:#000000;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.button {
  margin-top:50px;
  padding:5px;
  margin-left: auto;
  margin-right: auto;
  background: #1A0E6E;
  text-align: center;
  width: 80px;
  color:white;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  border: 1px solid #A6A6A6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow:2px 1px 1px #222222;
}

.headers{
	font-size: 25px;
	font-weight: bold;
}

.ignored_feed{
  position: relative;
  margin: 50px 50px;
  background-color: #b0b0b0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
  color: #FFFFFF;
  font-size: 17px;
  border: 2px solid black;
}

#user_lists{
    overflow-y:scroll;
    position:relative;
    top:110px;
    z-index:-1;
}

#feed_title{
  height: 50px;
  background: #F1F1F1;
  margin-top: 10px;
  font-size: 40px;
  color: #353535;
  text-align:center;
}


.deadspace {
  height: 50px;
  background: #D1CAFF;
  color: white;
}