/*
body {
  background-color: #DDDDDD;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
*/

.listing {
  position: relative;
  margin: 50px 50px;
  background-color: #8D41D6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
  color: #FFFFFF;
  font-size: 17px;
  border: 2px solid black;
}


.listing:hover {
	background-color: #000;
}

#controller:hover{
	background-color: #E40045;
}

.headline {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}


.snippet{
  display: inline-block;
  font-style: bold;
  /*text-align: right;*/
  /*font-size: 17px;*/
  /*margin-right: 20px;*/
  /*width: 100px;*/
}

.date{
  display: inline-block;
  font-size: 10px;
}

.pushbutton {
  display: inline-block;
  text-decoration: none;
  color:#000000;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.headers{
	font-size: 25px;
	font-weight: bold;
}

.ignored_feed{
	position: relative;
	margin: 50px 50px;
	background-color: #b0b0b0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px;
	color: #FFFFFF;
	font-size: 17px;
	border: 2px solid black;
}